@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> 

kolory:


czarny - #392c39;
szary(tło) - #e1e1e1;
fiolet(tło) - #7f578b;
żółty akcent - #fce300;

 */
/* import, mixiny, reusable*/
/* line 5, ../../../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 29, ../sass/screen.scss */
body {
  color: #fff;
  height: 100vh;
}
/* line 31, ../sass/screen.scss */
body h1, body h2, body h3 {
  font-family: 'Comfortaa';
  font-weight: 700;
}
/* line 36, ../sass/screen.scss */
body p {
  font-family: 'Comfortaa';
  font-weight: 400;
}
/* line 41, ../sass/screen.scss */
body a {
  font-family: 'Comfortaa';
  font-weight: 300;
}

/* main */
/* line 53, ../sass/screen.scss */
section.main {
  min-height: 740px;
  height: 100%;
  width: 100%;
  background-image: url("../gfx/background_main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 64, ../sass/screen.scss */
section.main div.container {
  height: 500px;
  width: 100%;
  text-align: center;
  z-index: 1;
  margin: 50px auto 0 auto;
  padding: 0 20px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 74, ../sass/screen.scss */
section.main div.container h1 {
  font-size: 5em;
  line-height: 150%;
}
/* line 81, ../sass/screen.scss */
section.main div.container h2 {
  font-size: 1.5em;
  font-weight: 400 !important;
  line-height: 150%;
  margin-bottom: 100px;
}
/* line 90, ../sass/screen.scss */
section.main div.container a:nth-child(3) {
  font-size: 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border: 1px #fff solid;
  border-radius: 10px;
  padding: 10px;
}
/* line 100, ../sass/screen.scss */
section.main div.container img {
  position: absolute;
  height: 48px;
  width: 48px;
  top: 80%;
  left: 48%;
}

/* how it works */
