@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> 

kolory:


czarny - #392c39;
szary(tło) - #e1e1e1;
fiolet(tło) - #7f578b;
żółty akcent - #fce300;

 */
/* import, mixiny, reusable*/
/* line 5, ../../../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 26, ../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 28, ../sass/screen.scss */
body {
  color: #fff;
  height: 100vh;
}
/* line 32, ../sass/screen.scss */
body h1, body h2, body h3, body h4 {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
}
/* line 37, ../sass/screen.scss */
body p {
  font-family: 'Open Sans', sans-serif;
  padding: 0 5px;
}
/* line 42, ../sass/screen.scss */
body a {
  font-family: 'Open Sans', sans-serif;
}

/* line 47, ../sass/screen.scss */
.clear {
  clear: both;
}

/* main */
/* line 54, ../sass/screen.scss */
section.main {
  min-height: 740px;
  height: 100%;
  width: 100%;
  background-image: url("../gfx/background_main2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 64, ../sass/screen.scss */
section.main nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}
/* line 72, ../sass/screen.scss */
section.main nav img {
  margin: 50px 0 0 50px;
  width: 187px;
  height: 45px;
  opacity: .7;
}
/* line 78, ../sass/screen.scss */
section.main nav ul {
  display: block;
  float: right;
  position: relative;
  margin: 55px 55px 0 0;
}
/* line 85, ../sass/screen.scss */
section.main nav ul li {
  display: inline-block;
}
/* line 88, ../sass/screen.scss */
section.main nav ul li a {
  display: block;
  text-transform: uppercase;
  padding: 15px;
  font-size: 1em;
  text-decoration: none;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}
/* line 104, ../sass/screen.scss */
section.main div.container {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 0 50px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 112, ../sass/screen.scss */
section.main div.container h1 {
  font-size: 5em;
  line-height: 150%;
  margin-bottom: 15px;
  font-weight: 100;
}
/* line 119, ../sass/screen.scss */
section.main div.container h2 {
  font-size: 1.5em;
  line-height: 150%;
  margin-bottom: 100px;
  padding: 0 20%;
  font-weight: 100;
}
/* line 129, ../sass/screen.scss */
section.main div.container a.main-button {
  -webkit-transition: background 1s ease-in-out;
  -moz-transition: background 1s ease-in-out;
  -ms-transition: background 1s ease-in-out;
  -o-transition: background 1s ease-in-out;
  transition: background 1s ease-in-out;
  font-size: 1.3em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 100;
  color: #fff;
  border: 1px #fff solid;
  border-radius: 10px;
  padding: 20px 25px;
}
/* line 144, ../sass/screen.scss */
section.main div.container a.main-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
/* line 149, ../sass/screen.scss */
section.main a.scroll-button {
  display: block;
  height: 48px;
  width: 48px;
  background: url("../gfx/arrow.png") no-repeat center center;
  position: absolute;
  left: 50%;
  margin-left: -24px;
  bottom: 50px;
}

/* how it works */
/* line 163, ../sass/screen.scss */
section.how-it-works {
  position: relative;
  min-height: 740px;
  width: 100%;
  background-color: #623171;
}
/* line 169, ../sass/screen.scss */
section.how-it-works div.container {
  margin: 0 auto;
  padding: 70px 7%;
  background: url("../gfx/logo-background2.png") no-repeat 85% 10%;
  background-size: 500px 500px;
}
/* line 176, ../sass/screen.scss */
section.how-it-works div.container .proces-text {
  width: 50%;
  margin: 50px 0 60px 0;
  display: inline-block;
}
/* line 181, ../sass/screen.scss */
section.how-it-works div.container .proces-text h3 {
  font-size: 2.25em;
  margin-bottom: 50px;
  color: #f9f9f9;
}
/* line 188, ../sass/screen.scss */
section.how-it-works div.container .proces-text p {
  color: #f9f9f9;
  line-height: 170%;
}
/* line 194, ../sass/screen.scss */
section.how-it-works div.container .proces-text a.contact-with-us {
  -webkit-transition: background 1s ease-in-out;
  -moz-transition: background 1s ease-in-out;
  -ms-transition: background 1s ease-in-out;
  -o-transition: background 1s ease-in-out;
  transition: background 1s ease-in-out;
  font-size: 1em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 100;
  color: #fff;
  border: 1px #fff solid;
  border-radius: 10px;
  padding: 15px 20px;
  margin-top: 20px;
  display: inline-block;
}
/* line 211, ../sass/screen.scss */
section.how-it-works div.container .proces-text a.contact-with-us:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
/* line 219, ../sass/screen.scss */
section.how-it-works div.container .proces-wrapper .flex-container {
  position: relative;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
}
/* line 233, ../sass/screen.scss */
section.how-it-works div.container .proces-wrapper .flex-container .flex-item {
  width: 16.66%;
  height: 220px;
  margin-top: 10px;
  text-align: left;
}
/* line 241, ../sass/screen.scss */
section.how-it-works div.container .proces-wrapper .flex-container .flex-item span {
  display: block;
  height: 27px;
  width: 72px;
  margin: 25px 0 0 0;
  background: url("../gfx/icon_sprites.png") no-repeat;
  background-position: 0px 0px;
}
/* line 250, ../sass/screen.scss */
section.how-it-works div.container .proces-wrapper .flex-container .flex-item h4 {
  padding-top: 10px;
  font-size: 1.3em;
  line-height: 250%;
  letter-spacing: 2px;
}
/* line 257, ../sass/screen.scss */
section.how-it-works div.container .proces-wrapper .flex-container .flex-item p {
  font-size: 1em;
  line-height: 150%;
  padding: 0 40px 0 0;
}
/* line 264, ../sass/screen.scss */
section.how-it-works div.container .proces-wrapper .flex-container .flex-item:nth-child(1) span {
  background-position: 0px 0px;
}
/* line 269, ../sass/screen.scss */
section.how-it-works div.container .proces-wrapper .flex-container .flex-item:nth-child(2) span {
  background-position: -91px 0px;
}
/* line 274, ../sass/screen.scss */
section.how-it-works div.container .proces-wrapper .flex-container .flex-item:nth-child(3) span {
  background-position: -182px 0px;
}
/* line 279, ../sass/screen.scss */
section.how-it-works div.container .proces-wrapper .flex-container .flex-item:nth-child(4) span {
  background-position: -273px 0px;
}
/* line 284, ../sass/screen.scss */
section.how-it-works div.container .proces-wrapper .flex-container .flex-item:nth-child(5) span {
  background-position: -364px 0px;
}
/* line 289, ../sass/screen.scss */
section.how-it-works div.container .proces-wrapper .flex-container .flex-item:nth-child(6) span {
  background-position: -452px 0px;
}
/* line 292, ../sass/screen.scss */
section.how-it-works div.container .proces-wrapper .flex-container .flex-item:nth-child(6) h4 {
  letter-spacing: 0px;
}

/* line 300, ../sass/screen.scss */
section.portfolio {
  position: relative;
  min-height: 740px;
  width: 100%;
  background-color: #fff;
  float: left;
}
/* line 308, ../sass/screen.scss */
section.portfolio h3 {
  font-size: 4em;
  color: #fff;
  text-align: center;
  background-color: #623171;
  padding: 50px 0 90px 0;
}
/* line 316, ../sass/screen.scss */
section.portfolio h3:before, section.portfolio h3:after {
  margin: 0em;
}
/* line 320, ../sass/screen.scss */
section.portfolio div.row {
  position: relative;
  border-top: 10px solid #623171;
  width: 100%;
  float: left;
}
/* line 321, ../sass/screen.scss */
section.portfolio div.row:last-child {
  border-bottom: 10px solid #623171;
}
/* line 329, ../sass/screen.scss */
section.portfolio div.row:before {
  clear: both;
}
/* line 333, ../sass/screen.scss */
section.portfolio div.row h4 {
  display: block;
  background: #623171;
  padding: 20px 50px;
  position: absolute;
  top: -2px;
}
/* line 339, ../sass/screen.scss */
section.portfolio div.row h4.row_1, section.portfolio div.row h4.row_3 {
  left: 0;
}
/* line 342, ../sass/screen.scss */
section.portfolio div.row h4.row_2 {
  right: 0;
}
/* line 348, ../sass/screen.scss */
section.portfolio div.row ul li {
  width: 25%;
  height: 400px;
  float: left;
}
/* line 353, ../sass/screen.scss */
section.portfolio div.row ul li span {
  display: block;
  width: 185px;
  height: 185px;
  margin: 0 auto;
  background: url("../gfx/sprites_logo_1.png") no-repeat;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 370, ../sass/screen.scss */
section.portfolio div.row ul.row_1 li:nth-child(1) {
  background-color: #f5f5f5;
}
/* line 372, ../sass/screen.scss */
section.portfolio div.row ul.row_1 li:nth-child(1) span {
  background-position: 0px 0px;
}
/* line 376, ../sass/screen.scss */
section.portfolio div.row ul.row_1 li:nth-child(2) {
  background-color: #f1f1f1;
}
/* line 378, ../sass/screen.scss */
section.portfolio div.row ul.row_1 li:nth-child(2) span {
  background-position: -187px 0px;
}
/* line 382, ../sass/screen.scss */
section.portfolio div.row ul.row_1 li:nth-child(3) {
  background-color: #eaeaea;
}
/* line 384, ../sass/screen.scss */
section.portfolio div.row ul.row_1 li:nth-child(3) span {
  background-position: -374px 0px;
}
/* line 388, ../sass/screen.scss */
section.portfolio div.row ul.row_1 li:nth-child(4) {
  background-color: #d8d8d8;
}
/* line 390, ../sass/screen.scss */
section.portfolio div.row ul.row_1 li:nth-child(4) span {
  background-position: -563px 0px;
}
/* line 400, ../sass/screen.scss */
section.portfolio div.row ul.row_2 li:nth-child(1) {
  background-color: #d8d8d8;
}
/* line 402, ../sass/screen.scss */
section.portfolio div.row ul.row_2 li:nth-child(1) span {
  background-position: -752px 0px;
}
/* line 406, ../sass/screen.scss */
section.portfolio div.row ul.row_2 li:nth-child(2) {
  background-color: #eaeaea;
}
/* line 408, ../sass/screen.scss */
section.portfolio div.row ul.row_2 li:nth-child(2) span {
  background-position: -939px 0px;
}
/* line 412, ../sass/screen.scss */
section.portfolio div.row ul.row_2 li:nth-child(3) {
  background-color: #f1f1f1;
}
/* line 414, ../sass/screen.scss */
section.portfolio div.row ul.row_2 li:nth-child(3) span {
  background-position: -1127px 0px;
}
/* line 418, ../sass/screen.scss */
section.portfolio div.row ul.row_2 li:nth-child(4) {
  background-color: #f5f5f5;
}
/* line 420, ../sass/screen.scss */
section.portfolio div.row ul.row_2 li:nth-child(4) span {
  background-position: -1314px 0px;
}
/* line 431, ../sass/screen.scss */
section.portfolio div.row ul.row_3 li:nth-child(1) {
  background-color: #f5f5f5;
}
/* line 433, ../sass/screen.scss */
section.portfolio div.row ul.row_3 li:nth-child(1) span {
  background-position: -1504px 0px;
}
/* line 437, ../sass/screen.scss */
section.portfolio div.row ul.row_3 li:nth-child(2) {
  background-color: #f1f1f1;
}
/* line 439, ../sass/screen.scss */
section.portfolio div.row ul.row_3 li:nth-child(2) span {
  background-position: -1684px 0px;
}
/* line 443, ../sass/screen.scss */
section.portfolio div.row ul.row_3 li:nth-child(3) {
  background-color: #eaeaea;
}
/* line 445, ../sass/screen.scss */
section.portfolio div.row ul.row_3 li:nth-child(3) span {
  background-position: -1874px 0px;
}
/* line 449, ../sass/screen.scss */
section.portfolio div.row ul.row_3 li:nth-child(4) {
  background-color: #d8d8d8;
}
/* line 451, ../sass/screen.scss */
section.portfolio div.row ul.row_3 li:nth-child(4) span {
  background-position: -2053px 0px;
}

/* line 462, ../sass/screen.scss */
section.team {
  position: relative;
  min-height: 100%;
  width: 100%;
  padding-top: 70px;
  background: #faf1e2 url("../gfx/team.jpg") no-repeat 47% 50%;
  background-size: 40%;
}
/* line 470, ../sass/screen.scss */
section.team h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.25em;
  letter-spacing: 2px;
  color: #000;
  text-align: center;
  margin-bottom: 20px;
}
/* line 480, ../sass/screen.scss */
section.team p {
  text-align: center;
  color: #000;
  font-size: 1.25em;
  letter-spacing: 2px;
  text-align: center;
  color: #000;
  margin-bottom: 50px;
}
/* line 490, ../sass/screen.scss */
section.team a.main-button {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 50px;
  width: 160px;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  -ms-transition: background .3s ease-in-out;
  -o-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
  font-size: 1.2em;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  line-height: 120%;
  color: #000;
  border: 1px #000 solid;
  border-radius: 10px;
  padding: 10px 25px;
}
/* line 513, ../sass/screen.scss */
section.team a.main-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/*	aside#popup {
    background: rgba(255,255,255, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
} */
/* aside#kontakt .kontakt-inner {
    position: absolute;
    background: #fff; 
    width: 600px;
    height: auto;
    top: 100px;
    right: 0;
    left: 0;
    border: 1px solid #fff;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    padding: 20px;
    text-align: center;

			.close {
			    position: absolute;
			    right: 25px;
			}

			img {
			    height: 200px;    

			}

			form input[type="email"] {
			    display: block;
			    margin: 20px auto;
			    border: 1px solid #ff7900;
			    padding: 5px;
			    width: 300px;
    
} */
